
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
    position: relative;
    z-index: 1;
}

.footer-logo{
    display: flex;
    align-items: center;
}

.fopter-logo-img{
    height: 90px;
}

.footer-logo-text{
    font-family: Pacifico;
    color: white;
    font-size: 60px;
}

footer .fake-btn{
    border-radius: 15px;
    padding: 30px 35px;
    font-size: 40px;
    font-family: Montserrat-bold;
    margin: 0;
}

.after-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 90px 0;
}

.after-footer-logo{
    font-family: Pacifico;
    color: white;
    font-size: 30px;
}

.after-footer-rights{
    font-family: Montserrat;
    color: white;
    font-size: 20px;
}

.fake-btn-phone{
    display: block;
    text-decoration: none;
}

@media (max-width: 1406px){
    footer .fake-btn{
        font-size: 20px;
    }
}

@media (max-width: 960px){
    footer {
        flex-direction: column;
        margin-top: 40px;
        padding: 0 20px;
    }

    footer .fopter-logo-img{
        height: 35px;
    }

    footer .footer-logo-text{
        font-size: 21px;
    }

    footer .fake-btn{
        width: 100%;
        height: 50px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .fake-btn-phone{
        font-size: 30px;
        margin-top: 20px;
    }

    footer .fake-btn-text{
        font-size: 20px;
        margin-top: 15px;
    }
}
