@font-face {
    font-family: "Pacifico";
    src: url("fonts/Pacifico-Regular_0.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Black";
    src: url("fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("fonts/Montserrat-Bold.ttf");
}

html, body{
    margin: 0;
    background: black;
}

header{
    background: black;
    height: 64px;
    margin-top: 65px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
}

.header-contact, .logo{
    width: 190px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    font-family: Pacifico;
    color: white;
    font-size: 1.5rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-link{
    font-family: Montserrat;
    letter-spacing: 5px;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    transition: 0.3s;
}

.navbar-item:hover .navbar-link{
    color: yellow;
}

.navbar-link-decoration{
    border: 1px solid yellow;
    width: 100%;
    transform: scaleX(0);
    transition: 0.3s;
}

.navbar-item:hover .navbar-link-decoration{
    transform: scaleX(1);
}

.header-contact{
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deals-block{
    margin-top:130px;
    padding: 0 110px;
    position: relative;
}

.deals-block *{
    position: relative;
    z-index: 2;
}

.cars-1 {
    position: absolute;
    right: 0;
    top: 0;
    height: 125%;
    z-index: 1;
    opacity: 0.5;
}

.big-words{
    display: flex;
    flex-direction: column;
}

.big-word{
    font-family: Montserrat-Black;
    font-size: 100px;
    color: darkgray;
}

.under-big-words-description{
    width: 700px;
    color: darkgray;
    font-size: 38px;
    font-family: Montserrat;
}

.fake-btn-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.fake-btn{
    display: flex;
    border: 1px solid yellow;
    color: white;
    border-radius: 15px;
    font-family: Montserrat;
    font-size: 25px;
    padding: 5px 40px;
    margin-right: 30px;
    margin-bottom: 15px;
}

@media (max-width: 1335px){
    header .navbar{
        width: 45%;
    }
}

@media (max-width: 1024px){
    header .navbar, header .header-contact{
        display: none;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fake-btn-container{
        width: 90%;
    }
}

@media (max-width: 820px){

    .deals-block{
        margin-top: 10px;
        padding: 0 10px;
    }

    .big-word{
        font-size: 40px;
    }

    .under-big-words-description{
        font-size: 20px;
        width: auto;
    }

    .fake-btn-container .fake-btn{
        font-size: 10px;
    }
}